################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/CSCN72050-Robot-Project/.vs/CSCN72050-Robot-Project/v17/DocumentLayout.json
/CSCN72050-Robot-Project/.vs/CSCN72050-Robot-Project/FileContentIndex
